flows.json
[{"id":"acbb0919.5b7808","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f1ca9e9.87656e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ddd7ec42.db20f","type":"ui_group","z":"","name":"Default","tab":"358ef4c7.bac41c","disp":true,"width":"6","collapse":false},{"id":"358ef4c7.bac41c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"46bae784.603478","type":"inject","z":"acbb0919.5b7808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["7d6f4de3.6895cc"]]},{"id":"7d6f4de3.6895cc","type":"unsafe-function","z":"acbb0919.5b7808","name":"Rotating square","func":"const { createCanvas, loadImage } = require('canvas');\n\t\nvar W = 20;//window.innerWidth\nvar H = 20;//window.innerHeight\n\nconst c = createCanvas(W, H);\nvar ctx = c.getContext(\"2d\");\n\nctx.beginPath();\nctx.moveTo(100,0);\nctx.lineTo(100,200);\nctx.stroke();\n\nfunction drawCircle(x){\n  ctx.beginPath();\n  ctx.arc(x,100,10,0,2*Math.PI);\n  ctx.fillStyle=\"red\";\n  ctx.fill();\n}\n\nfunction rotate() {\n\t\n  // Clear the canvas\n  ctx.clearRect(0, 0, W, H);\n\t\n  // Move registration point to the center of the canvas\n  ctx.translate(W/2, W/2);\n\t\n  // Rotate 1 degree\n  ctx.rotate(Math.PI / 180);\n    \n  // Move registration point back to the top left corner of canvas\n  ctx.translate(-W/2, -W/2);\n\t\n  ctx.fillStyle = \"red\";\n  ctx.fillRect(W/4, W/4, W/2, H/4);\n  ctx.fillStyle = \"blue\";\n  ctx.fillRect(W/4, W/2, W/2, H/4);\n  \n  msg.mode = 'canvas';\n  msg.payload = c.toDataURL();\n  node.send(msg);\n}\n\nsetInterval(rotate, 25);","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["f7a50b7e.1ae138"]]},{"id":"f7a50b7e.1ae138","type":"ui_template","z":"acbb0919.5b7808","group":"ddd7ec42.db20f","name":"","order":0,"width":"6","height":"6","format":"<img src={{msg.payload}}>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":240,"wires":[[]]},{"id":"6336905.46d6ef","type":"unsafe-function","z":"acbb0919.5b7808","name":"Wipe","func":"const { createCanvas } = require('canvas');\n\ncanvas = createCanvas(20, 20);\nctx = canvas.getContext('2d');\n\ncontext.x = 0;\nsetInterval(function(){ \n  \tctx.clearRect(0,0,20,20);\n  \tctx.fillStyle='rgba(255, 0, 0, 1)';\n  \tctx.fillRect(0,context.x%20,20,1);\n  \tcontext.x++;\n  \tmsg.payload = canvas.toDataURL();\n    node.send(msg);\n}, 60);","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["f7a50b7e.1ae138"]]},{"id":"4f17331e.75145c","type":"unsafe-function","z":"acbb0919.5b7808","name":"Red Square","func":"const { createCanvas } = require('canvas');\n\nvar CANVAS_WIDTH = 10;\nvar CANVAS_HEIGHT = 10;\n\nvar canvas = createCanvas(CANVAS_WIDTH, CANVAS_HEIGHT);\nvar context = canvas.getContext('2d');\ncontext.antialias = 'none';\ncanvas.width = CANVAS_WIDTH;\ncanvas.height = CANVAS_HEIGHT;\n\nvar FPS = 60;\n    \nvar context;\nvar dot;\n\ninit();\n\nfunction init() {\n\n\n  \ncreateTrail();\n\nsetInterval(loop, 1000 / FPS);\n  \n}\n\nfunction createTrail() {\n  dot = {\n    x: CANVAS_WIDTH, \n    y: CANVAS_HEIGHT,\n    speed: 0.3,\n    direction: Math.PI * 2 * Math.random()\n  }\n}\n\nfunction updatePosition() {\n  var dx = dot.x + dot.speed * Math.cos(dot.direction);\n  var dy = dot.y + dot.speed * Math.sin(dot.direction);\n  \n  if (dx < 0 || dx > CANVAS_WIDTH || dy < 0 || dy > CANVAS_HEIGHT) {\n    dot.direction = Math.PI * 2 * Math.random();\n    updatePosition();\n  } else {\n    dot.x = dx;\n    dot.y = dy;\n  }\n}\n\nfunction loop() {\n  updatePosition();\n  \n  // Draw over the whole canvas to create the trail effect\n  context.fillStyle = 'rgba(255, 255, 255, 0.01)';\n  context.fillRect(0, 0, canvas.width, canvas.height);\n  \n  // Draw the dot\n  context.beginPath();\n  context.fillStyle = '#ff0000';\n  context.moveTo(dot.x, dot.y);\n  context.arc(dot.x, dot.y, 1, 0, Math.PI*2, true);\n  context.fill();\n  \n  msg.mode = 'canvas';\n  msg.payload = canvas.toDataURL();\n  node.send(msg);\n}","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["f7a50b7e.1ae138"]]},{"id":"c504fca7.820bd8","type":"unsafe-function","z":"acbb0919.5b7808","name":"Particles","func":"if (msg.payload === false) {\n    if (context.timeout) {\n        clearTimeout(context.timeout);\n        return;\n    }\n}\n\nvar requestAnimFrame = (function(){\n  return function( callback ){\n\t\t\tcontext.timeout = setTimeout(callback, 1000 / 60);\n\t\t  };\n})();\n\nconst { createCanvas, loadImage } = require('canvas');\n\nvar W = 64;//window.innerWidth\nvar H = 64;//window.innerHeight\n\nconst canvas = createCanvas(W, H);\nvar ctx = canvas.getContext(\"2d\");\nctx.antialias = 'none';\nvar circles = [];\n\ncanvas.width = W;\ncanvas.height = H; \n\n//Random Circles creator\nfunction create() {\n\t\n\t//Place the circles at the center\n\t\n\tthis.x = W/2;\n\tthis.y = H/2;\n\n\t\n\t//Random radius between 2 and 6\n\tthis.radius = 1 + Math.random()*1; \n\t\n\t//Random velocities\n\tthis.vx = -0.5 + Math.random()*2;\n\tthis.vy = -0.5 + Math.random()*2;\n\t\n\t//Random colors\n\tthis.r = Math.round(Math.random())*255;\n\tthis.g = Math.round(Math.random())*127;\n\tthis.b = Math.round(Math.random())*55;\n}\n\nfor (var i = 0; i < 10; i++) {\n\tcircles.push(new create());\n}\n\nfunction draw() {\n\t\n\t//Fill canvas with black color\n    ctx.globalCompositeOperation = \"source-over\";\n    ctx.fillStyle = \"rgba(0,0,0,0.15)\";\n    ctx.fillRect(0, 0, W, H);\n\t\n\t//Fill the canvas with circles\n\tfor(var j = 0; j < circles.length; j++){\n\t\tvar c = circles[j];\n\t\t\n\t\t//Create the circles\n\t\tctx.beginPath();\n\t\tctx.arc(c.x, c.y, c.radius, 0, Math.PI*2, false);\n    ctx.fillStyle = \"rgba(\"+c.r+\", \"+c.g+\", \"+c.b+\", 0.5)\";\n\t\tctx.fill();\n\t\t\n\t\tc.x += c.vx;\n\t\tc.y += c.vy;\n\t\tc.radius -= .02;\n\t\t\n\t\tif(c.radius < 0)\n\t\t\tcircles[j] = new create();\n\t}\n\t\n\tmsg.mode = 'canvas';\n\tmsg.payload = canvas.toDataURL();\n\tnode.send(msg);\n}\n\nfunction animate() {\n\trequestAnimFrame(animate);\n\tdraw();\n}\n\nanimate();","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["f7a50b7e.1ae138"]]},{"id":"21e2764.32df90a","type":"inject","z":"acbb0919.5b7808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["6336905.46d6ef"]]},{"id":"d1908b19.532a6","type":"inject","z":"acbb0919.5b7808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["4f17331e.75145c"]]},{"id":"a26e53f4.8829a8","type":"inject","z":"acbb0919.5b7808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["c504fca7.820bd8"]]},{"id":"bd589d7c.b92138","type":"inject","z":"acbb0919.5b7808","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["c504fca7.820bd8"]]}]